<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!--The connection is mongodb://localhost:27017 , and right after that I wrote the DB name.
		If the DB does not exist then it will be created during the application load-->
		<add name="DatabaseConnection" connectionString="mongodb://localhost:27017/MyAppDbNew" />
	</connectionStrings>


	<appSettings>
		<add key ="FileForBulkActivity" value="C:\Users\User\source\repos1\WindowsFormsApp1\_CSV\Products.csv"/>
	</appSettings>
	
	
	
	
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>